language: r
warnings_are_errors: true
sudo: required

env:
 global:
   - CRAN: http://cran.rstudio.com
   - R_BUILD_ARGS="--no-manual"
   - R_CHECK_ARGS="--no-manual"

r_github_packages:
  - jimhester/covr

after_success:
  - Rscript -e 'library(covr);coveralls()'
